<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    
    <div class="page-header page-header-custom">
        <h1 class="pull-left">Category</h1>
        <div class="links pull-right">
            <button type="button" routerLink="/category-add" class="btn btn-info btn-xs">Add</button>
        </div>
    </div>
    
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Parent</th>
                    <th>Children</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let category of categories; let i = index">
                    <td>{{i+1}}</td>
                    <td>{{jsUcfirst(category.name)}}</td>
                    <td>{{jsUcfirst(category.parent?.name)}}</td>
                    <td>{{category.nameOfAllChildren}}</td>
                    <td>
                        <i [routerLink]="['/categoryupdate', category.id]" class="fa fa-pencil customLink" aria-hidden="true"></i> 
                        <i class="fa fa-times colorRed paddingLeft cross" aria-hidden="true"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
